<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">BlazorFundamentals</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="parent">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Parent
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="databinding">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Data-binding
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="eventhandeling">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Event handling
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="lifecycle">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Lifecycle
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="route1">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Routing
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="formvalidation">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Form Validation
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="editcontextvalidation">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Edit Context Validation
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="calljsmethod">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Call JS Method
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="callcsmethod">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Call C# Method
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
