@inherits InputText

<div class="input-group">
    <input @attributes="AdditionalAttributes" class="form-control @CssClass"
           type="@passwordFieldType" @bind="CurrentValueAsString" @bind:event="oninput" />
    <span class="input-group-btn toggle-password">
        <button type="button" class="btn" @onclick="TogglePasswordVisibility">
            <i class="fa @toggleVisibilityIconClass"></i>
        </button>
    </span>
</div>

@code{
    protected string passwordFieldType = "password";
    protected string toggleVisibilityIconClass = "fa-eye-slash";

    protected void TogglePasswordVisibility()
    {
        if (passwordFieldType == "password")
        {
            passwordFieldType = "text";
            toggleVisibilityIconClass = "fa-eye";
        }
        else
        {
            passwordFieldType = "password";
            toggleVisibilityIconClass = "fa-eye-slash";
        }
    }
}